---
import Logo from "./Logo.astro";

---

<header
    class="py-4 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white"
    id="landing-header"
>
    <div class="flex flex-grow basis-0">
        <Logo/>
    </div>
        
    <nav>
        <ul class="flex text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
            <li><a href="#">Model S</a></li>
            <li><a href="#">Model 3</a></li>
            <li><a href="#">Model X</a></li>
            <li><a href="#">Model Y</a></li>
            <li><a href="#">Powerwall</a></li>
            <li><a href="#">Carga</a></li>
        </ul>
    </nav>
    
    <nav class="flex flex-grow basis-0 justify-end">
        <ul class="flex text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
            <li><a href="#">Soporte</a></li>
            <li><a href="#">Tienda</a></li>
            <li><a href="#">Cuenta</a></li>
            <li><a href="#">Menu</a></li>
        </ul>
    </nav>

    <div
    id="menu-backdrop"
    class={`absolute bg-black/5 backdrop-blur-lg rounded
        translate-x-[var(--left)] translate-y-[var(--top)]
        left-0 top-0 
        w-[var(--width)] h-[var(--height)]
        transition-all duration-500
        ease-in-out
        opacity-0 -z-10
    `}
    />
</header>

<script>
    const listItem = document.querySelectorAll('#landing-header li');
    const menuBackdrop = document.querySelector('#menu-backdrop') as HTMLElement;

    listItem.forEach( item => {
        item.addEventListener("mouseenter", () => {
            const { left, top, width, height } = item.getBoundingClientRect();
            menuBackdrop.style.setProperty("--left", `${left}px`);
            menuBackdrop.style.setProperty("--top", `${top}px`);
            menuBackdrop.style.setProperty("--width", `${width}px`);
            menuBackdrop.style.setProperty("--height", `${height}px`);
            menuBackdrop.style.opacity = "1";
            menuBackdrop.style.visibility = "visible";
        });

        item.addEventListener("mouseleave", () => {
            menuBackdrop.style.opacity = "0";
            menuBackdrop.style.visibility = "hidden";
        });
    });

</script>

<script>
    const headerElement = document.querySelector('#landing-header') as HTMLElement;
    const observerOptions = {
        root: null,
        rootMargin: '0px',
        threshold: 0.90
    }
    const observer = new IntersectionObserver( entries => {
        entries.forEach( entry => {
            const {isIntersecting} = entry;
            if (isIntersecting) {
                const color = entry.target.getAttribute('data-header-color');
                headerElement.style.color = color;
            }
        })
    }, observerOptions);

    const sectionElements = document.querySelectorAll('.landing-section');
    sectionElements.forEach( section => observer.observe(section) );
</script>